html{
height:100%;
}
body {
   padding: 50px;
   font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
   background-color: #f1f1f1;
    position: relative;
    width: auto;
    height:100%;
    display:flex;
}

a {
   color: #00B7FF;
}

.item img{
/*    min-height:200px;
   max-height:300px */
   max-width:100%;
   max-height:100%;
   border: none;
   cursor:pointer;
   margin:auto;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    z-index: 100;
    background: rgba(204, 204, 204, 0.5);
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
    cursor: pointer;
}

.modal > div.modal-window {
    display: flex;
    position: relative;
    height: 100%;
    align-items: center;
    z-index: 99;
}

.modal > div.modal-window > img {
    z-index: 101;
    max-height: 90%;
    max-width: 90%;
	margin: auto;
}

.hidden {
    display: none !important;
}

.upload {
    width: 35%;
    margin: 0 auto;
    margin-bottom: 60px;
    padding: 15px;
    background-color: #34383b;
    box-shadow: 7px 7px 7px #585757;
}

h3 {
    margin-bottom: 20px;
    font-weight: bold;
    color: #F1F1F1;
}

.login-form {
    color: #fff;
    padding: 10px;
    position: relative;
    background-color: #34383b;
}

#drop a {
    background: #0986A3 url(../images/up.png) no-repeat 10px;
    padding: 10px 15px 10px 30px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 2px;
    margin-top: 10px;
}

.login-form a {
    color: #898989;
    font-size: 0.875em;
    letter-spacing: 2px;
    font-style: italic;
}

.upload span {
    color: #F1F1F1;
    text-transform: uppercase;
    font-size: 1.1em;
    display: block;
    letter-spacing: 2px;
}

.upload input[type="text"], .upload input[type="password"] {
    width: 96%;
    padding: 10px;
    color: #1D1B1B;
    margin: 15px 0;
    outline: none;
    font-family: WorkSans-Regular;
    font-size: 0.875em;
    letter-spacing: 1px;
    border: none;
    background-color: #f1f1f1;
}

input.title {
    width: 70%;
    padding: 5px;
    background-color: #F5F5F5;
    color: #000;
    border: none;
    margin-left: 80px;
}

div.images{
  background:#9DA1AA;
  box-shadow: 7px 7px 7px #82898F;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top:20px
}

div.item{
    margin: 10px;
	width:300px;
	height:300px;
	position:relative;
	overflow:hidden;
	background: #909090;
	display:flex;
}

div.item span{
    z-index: 10;
    position: absolute;
    display:block;
    top: 0;
    right: 0;
    padding: 5px 10px;
    text-align:center;
    cursor: pointer;
    background-color:#f1f1f1;
}

div.container{
    width: 100%
}